In [1]:
import pandas as pd

In [2]:
data = {
    'City': ['New York', 'New York', 'Chicago', 'Chicago', 'Chicago'],
    'Year': [2019, 2020, 2019, 2020, 2021],
    'Sales': [1000, 1500, 800, 1200, 2000]
}

df = pd.DataFrame(data)

In [3]:
print(df)

       City  Year  Sales
0  New York  2019   1000
1  New York  2020   1500
2   Chicago  2019    800
3   Chicago  2020   1200
4   Chicago  2021   2000

In [4]:
# Create a pivot table
pivot_table = pd.pivot_table(df, values='Sales', index='City',
                             columns='Year', aggfunc='sum')

In [5]:
print(pivot_table)

Year        2019    2020    2021
City
Chicago    800.0  1200.0  2000.0
New York  1000.0  1500.0     NaN