In [1]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_excel('Downloads/demo.xlsx')
df.drop('Sr No', axis=1, inplace=True)
df.head()

,Expenses Made BY,Timestamp,Date,SITE CODE,Site Name,Site Address,Department,Expense Head,Description of Expenses,Payment Method,Expense Bill Amount,Advance / Cash Received Amount,adv balance amount,,Score,Invoice/ Payslip,Remarks
0,Kalyani Wankhede,2023-06-13 14:26:42.456,2023-05-05,100.0,Lab,NaN,Laboratory Expenses,Grocery,Grocery,Googel Pay,2463.0,NaN,2463.0,-2463.0,0.0,https://drive.google.com/open?id=1JJZXEsmluqUC...,April bill clear
1,Manoj Umale,2023-05-05 12:58:01.773,2023-05-05,101.0,D mart,Ganesh peth,core cutting,Fuel,Petrol,Cash,200.0,NaN,200.0,-200.0,NaN,https://drive.google.com/file/d/1Z-TcKfRZV5fwx...,NaN
2,Kalyani Wankhede,2023-05-09 16:49:24.545,2023-05-09,100.0,Lab,Lab,Housekeeping,Electrician labor charge,"Coolar,light",Other,1900.0,NaN,1900.0,-1900.0,0.0,https://drive.google.com/open?id=1G1AJm3e1-Qcv...,Payment balance
3,Harshika Upadhya,2023-05-09 18:55:16.210,2023-05-08,102.0,ajni railway station,ajni railway station,Chemical,Transportation,water sample collection,Googel Pay,200.0,200.0,0.0,NaN,0.0,https://drive.google.com/open?id=1MPc3NJaV7Iv1...,NaN
4,Kalyani Wankhede,2023-05-10 17:09:55.019,2023-05-10,100.0,Lab,Lab,Housekeeping,Electrician Subhash bill,Switch board repair connected to generator,Other,610.0,NaN,610.0,-610.0,0.0,https://drive.google.com/open?id=18nH0nTlUaXh8...,NaN

In [12]:
df.columns

Index(['Expenses Made BY', 'Timestamp', 'Date', 'SITE CODE', 'Site Name',
       'Site Address', 'Department', 'Expense Head', 'Description of Expenses',
       'Payment Method', 'Expense Bill Amount',
       'Advance / Cash Received Amount ', 'adv balance amount', ' ', 'Score',
       'Invoice/ Payslip', 'Remarks'],
      dtype='object')

In [13]:
df.isnull().sum()

Expenses Made BY                     0
Timestamp                            0
Date                                 0
SITE CODE                          145
Site Name                           11
Site Address                       113
Department                          78
Expense Head                         0
Description of Expenses             89
Payment Method                       0
Expense Bill Amount                  8
Advance / Cash Received Amount     176
adv balance amount                   0
                                    79
Score                                1
Invoice/ Payslip                   159
Remarks                            187
dtype: int64

In [15]:
df.dtypes

Expenses Made BY                           object
Timestamp                          datetime64[ns]
Date                               datetime64[ns]
SITE CODE                                 float64
Site Name                                  object
Site Address                               object
Department                                 object
Expense Head                               object
Description of Expenses                    object
Payment Method                             object
Expense Bill Amount                       float64
Advance / Cash Received Amount            float64
adv balance amount                        float64
                                          float64
Score                                     float64
Invoice/ Payslip                           object
Remarks                                    object
dtype: object