In [1]:
import pandas as pd

In [55]:
df = pd.DataFrame(
    {
        'Col_0': ['a', 'b', 'c', 'd'],
        'Col_1': [1, 2, 3, 4],
        'Col_2': ['e', 'f', 'g', 'h'],
        'Col_3': [5, 6, 7, 8]
    }
)
df

  Col_0  Col_1 Col_2  Col_3
0     a      1     e      5
1     b      2     f      6
2     c      3     g      7
3     d      4     h      8

In [61]:
df.loc[[0,2],'Col_0':'Col_2']

  Col_0  Col_1 Col_2
0     a      1     e
2     c      3     g